{% extends 'base.html.twig' %}
{% include 'rent_popup.twig' %}

<div class="container">
    <div class="titles">
        <h2>Available Cars</h2>
    </div>
    <div class="cars-container">
    {% for car in cars %}
        <div class="car">
            <img src="CaryaMigration\assets\images\car_images\{{ car.image }}" alt="{{ car.brand ~ ' ' ~ car.model }}">
            <p><strong>{{ car.brand ~ ' ' ~ car.model }}</strong></p>
            <p><strong>Color:</strong> {{ car.color }}</p>
            <p><strong>Kilometers:</strong> {{ car.km }} km</p>
            <p><strong>Price:</strong> ${{ car.price }}</p>
            <div class="rent-button">
                {% if user_id is not null %}
                    <button id="rentCarButton{{ car.id }}">Rent</button>
                {% else %}
                    <button><a href="http://localhost/Mini-PHP-Project/carya.tn/Templates/login.php">Login to Rent</a></button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% for car in cars %}
            document.getElementById("rentCarButton{{ car.id }}").addEventListener("click", function() {
                // Show the corresponding popup and overlay
                document.getElementById("popup{{ car.id }}").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            });
        {% endfor %}

        // Close all popups and overlay when clicking outside the popups
        document.getElementById("overlay").addEventListener("click", function() {
            // Hide all popups and overlay
            {% for car in cars %}
                document.getElementById("popup{{ car.id }}").style.display = "none";
            {% endfor %}
            document.getElementById("overlay").style.display = "none";
        });
    });
</script>

<!-- Overlay to cover the background -->
<div class="overlay" id="overlay"></div>