{% extends 'base.html.twig' %}

{% block body %}
<div class="main-container">
    <div class="filter-menu" id="filterMenuContainer">
        {% include '/home/filter.html.twig' %}
    </div>
    <div class="cars-list content-container">
        <div class="container">
            <div class="header-container">
                <h2>My Car Listings</h2>
                <button id="addCarBtn">Add Car</button>
            </div>
            
            {% for car in cars %}
            <div class="car-listing-container">
                <div class="car-image">
                    <img src="{{ asset('images/car_images/' ~ car.image) }}" alt="{{ car.brand ~ ' ' ~ car.model }}">
                </div>
                <div class="car-details">
                    <h2>{{ car.brand ~ ' ' ~ car.model }}</h2>
                    <p class="car-model">{{ car.model }}</p>
                    <div class="paragraphs">
                        <p><span class="mini-title">Color:</span> {{ car.color }}</p>
                        <p><span class="mini-title">Kilometers:</span> {{ car.km }} km</p>
                        <p><span class="mini-title">Price:</span> ${{ car.price }}</p>
                    </div>
                </div>
                <div class="action-buttons">
                    <button id="deleteCarButton{{ car.id }}">Delete Listing</button>
                    <button id="markUnavailableButton{{ car.id }}">Mark Unavailable</button>
                    <button id="updateListingButton{{ car.id }}">Update Listing</button>
                    <button id="confirmButton{{ car.id }}">Confirm</button>
                </div>
                
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}

