{% extends 'base.html.twig' %}

{% block body %}
<div class="main-container">
    <div class="filter-menu" id="filterMenuContainer">
        {% include '/home/filter.html.twig' %}
    </div>
    <div class="cars-list content-container">
        <div class="container">
            <div class="header-container">
                <h2>My Car Listings</h2>
                <button id="addCarBtn">Add Car</button>
            </div>
            {{ dump(cars) }}
            
            {% for car in cars %}
            <div class="car-listing-container">
                <div class="car-image">
                    <img src="{{ asset('images/car_images/' ~ car.image) }}" alt="{{ car.brand ~ ' ' ~ car.model }}">
                </div>
                <div class="car-details">
                    <h2>{{ car.brand ~ ' ' ~ car.model }}</h2>
                    <p class="car-model">{{ car.model }}</p>
                    <div class="paragraphs">
                        <p><span class="mini-title">Color:</span> {{ car.color }}</p>
                        <p><span class="mini-title">Kilometers:</span> {{ car.km }} km</p>
                        <p><span class="mini-title">Price:</span> ${{ car.price }}</p>
                    </div>
                </div>
                <div class="action-buttons">
                    <a href="{{ path('my_cars_delete_car', {'id': car.id}) }}" class="delete-link">Delete</a>
                    {% if car.isAvailable %}
                        <a href="{{ path('my_cars_mark_car_unavailable', {'id': car.id}) }}" class="edit">Mark Unavailable</a>
                    {% else %}
                        <a href="{{ path('my_cars_mark_car_available', {'id': car.id}) }}" class="edit">Mark Available</a>
                    {% endif %}



                    
                    <button id="updateListingButton{{ car.id }}">Update Listing</button>
                    <button id="confirmButton{{ car.id }}">Confirm</button>
                </div>
                
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>


<!-- Add Car Modal -->
<div id="addCarModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        {% include 'forms/addCar.html.twig' %}
    </div>
</div>

<script>
    // Get modal element
    var modal = document.getElementById('addCarModal');
    // Get open modal button
    var modalBtn = document.getElementById('addCarBtn');
    // Get close button
    var closeBtn = document.getElementsByClassName('close')[0];

    // Listen for open click
    modalBtn.addEventListener('click', openModal);
    // Listen for close click
    closeBtn.addEventListener('click', closeModal);
    // Listen for outside click
    window.addEventListener('click', outsideClick);

    // Function to open modal
    function openModal() {
        modal.style.display = 'block';
    }

    // Function to close modal
    function closeModal() {
        modal.style.display = 'none';
    }

    // Function to close modal if outside click
    function outsideClick(e) {
        if (e.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>

{% endblock %}

