{# templates/home/rentCars.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}


<div class="main-container">
    <div class="filter-menu" id="filterMenuContainer">
        {% include '/home/filter.html.twig' %}
    </div>
    <div class="cars-list content-container">
        <div class="container">
            <div class="titles">
                <h2>Available Cars</h2>
            </div>
            <div class="cars-container">
                {% for car in cars %}
                    <div class="car">
                        <img src="{{ asset('images/car_images/' ~ car.image) }}" alt="{{ car.brand ~ ' ' ~ car.model }}">
                        <p><strong>{{ car.brand ~ ' ' ~ car.model }}</strong></p>
                        <p><strong>Color:</strong> {{ car.color }}</p>
                        <p><strong>Kilometers:</strong> {{ car.km }} km</p>
                        <p><strong>Price:</strong> ${{ car.price }}</p>
                        <div class="rent-button">
                                <button class="item-button" id="rentCarButton{{car.id}}" car-id="{{car.id}}">Rent</button>
                        </div>
                    </div>
                    
                        {% include '/home/rent_car_popup.html.twig' with {'carDetails': car} %}
                   
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
            // Add event listeners to all buttons with class "item-button"
            document.querySelectorAll('.item-button').forEach(function(button) {
                button.addEventListener('click', function() {
                    var itemName = button.getAttribute('car-id');
                    document.getElementById('popup'+itemName).style.display = "block";
                                var xhr = new XMLHttpRequest();
            xhr.open('GET', '/rent-form/' + carId, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                       
                        popup.innerHTML = xhr.responseText;
                        popup.style.display = "block";
                    } else {
                        console.error('Failed to fetch rent form');
                    }
                }
            };
            xhr.send();
                   
                });
            });
            document.querySelectorAll('.close').forEach(function(closeButton) {
            closeButton.addEventListener('click', function() {
                var itemName = closeButton.getAttribute('car-id');
                document.getElementById('popup'+itemName).style.display = "none";
            });
        });
        });
</script>
{% endblock %}

