




    <h2>Rent Car Form</h2>
   
    {% if carDetails %}
        <div class="car-details">
            <h3>Car Details:</h3>
            <p>Brand: {{ carDetails.brand }}</p>
            <p>Model: {{ carDetails.model }}</p>
            <p>Color: {{ carDetails.color }}</p>
            <p>Price per Day: ${{ carDetails.price }}</p>
        </div>



        <h3>Rent Car:</h3>
        {{ form_start(form, { 'action': path('rent_car', { 'id': carDetails.id }), 'method': 'POST' }) }}
            
            <div class="sub-container">
                <div class="label-container">
                    <label for="start_date">Start Date:</label>
                </div>
                {{ form_widget(form.start_date) }}
            </div>
            <div class="sub-container">
                <div class="label-container">
                    <label for="end_date">End Date:</label>
                </div>
                {{ form_widget(form.end_date) }}
            </div>
            <div class="sub-container">
                <div class="label-container">
                    <label for="password">Password:</label>
                </div>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="submit-container">
                
                <input type="submit" class="submit-popup-button" value="Rent">
            </div>
            {{ form_end(form) }}
        
    {% else %}
        <p>No car details available.</p>
    {% endif %}

