<div class="add-titles">
        <h2>Update Car Listing</h2>
</div>
{{ form_start(form, { 'action': path('update_car', { 'id': car.id }), 'method': 'POST' }) }}
<div class="form-container">
    <div class="sub-container">
        {{ form_row(form.brand) }}
    </div>
    <div class="sub-container">
        {{ form_row(form.model) }}
    </div>
    <div class="sub-container">
        {{ form_row(form.color) }}
    </div>
    <div class="sub-container">
        {{ form_row(form.km) }}
    </div>
    <div class="sub-container">
        {{ form_row(form.price) }}
    </div>
    <div class="sub-container checkbock">
        {{ form_row(form.available) }}
    </div>
    <div class="sub-container1">
            <label for="car_image" class="custom-file-upload">
                <span class="upload-icon">Upload Image</span>
                {{ form_row(form.image, {'label': false, 'attr': {'onchange': 'displayFileName(this)'}}) }}
            </label>
            <div class="no-file-name">
                    <span id="file-name">No file chosen</span>
            </div>
        </div>
    <div class="sub-container">
        <button type="submit">Update Car</button>
    </div>
</div>
<script>
    function displayFileName(input) {
    var fileName = input.files[0].name;
    var fileNameElement = document.getElementById("file-name");
    
    if (fileName.length > 20) {
        fileName = fileName.substring(0, 20) + "..."; // Truncate if over 20 characters
    }
    
    fileNameElement.textContent = fileName;
}
</script>
{{ form_end(form) }}