{{ form_start(form, { 'action': path('update_car', { 'id': car.id }), 'method': 'POST' }) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.model) }}
    {{ form_row(form.color) }}
    {{ form_row(form.image) }}
    {{ form_row(form.km) }}
    {{ form_row(form.price) }}
    {{ form_row(form.available) }}
    <button type="submit">Update Car</button>
{{ form_end(form) }}