{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<h1>Admin Dashboard</h1>

<!-- Debugging: Display users variable -->
{% if users is not defined %}
    <p>Error: users variable is not defined.</p>
{% else %}
    <p>Users variable is defined.</p>
    <p>{{ users|length }} users found.</p>
{% endif %}

<!-- User list -->
<section>
    <h2>List of Users</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td>
                        {% if 'ROLE_BANNED' in user.roles %}
                            <a href="{{ path('user_unban', {'id': user.id}) }}" class="unban-link">Unban</a>
                        {% elseif 'ROLE_ADMIN' in user.roles %}
                            Admin
                        {% else %}
                            <a href="{{ path('user_ban', {'id': user.id}) }}" class="ban-link">Ban</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!-- Car list -->
<!-- Admin Dashboard -->
<section>
    <h2>List of Cars</h2>
    <table>
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>Color</th>
                <th>Kilometers</th>
                <th>Owner</th>
                <th>Price</th>
                <th>Available</th>
                <th>Actions</th>
                <th><button id="addCarBtn">Add Car</button></th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.km }}</td>
                    <td>{{ car.ownerId.id }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.available ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('delete_car', {'id': car.id}) }}" class="delete-link">Delete</a>
                    </td>
                    <td>
                        <button id="UpdateCarBtn{{ car.id }}">Update Listing</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!-- Add Car Modal -->
<div id="addCarModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        {% include 'forms/addCar.html.twig' %}
    </div>
</div>

<script>
    // Get modal element
    var modal = document.getElementById('addCarModal');
    // Get open modal button
    var modalBtn = document.getElementById('addCarBtn');
    // Get close button
    var closeBtn = document.getElementsByClassName('close')[0];

    // Listen for open click
    modalBtn.addEventListener('click', openModal);
    // Listen for close click
    closeBtn.addEventListener('click', closeModal);
    // Listen for outside click
    window.addEventListener('click', outsideClick);

    // Function to open modal
    function openModal() {
        modal.style.display = 'block';
    }

    // Function to close modal
    function closeModal() {
        modal.style.display = 'none';
    }

    // Function to close modal if outside click
    function outsideClick(e) {
        if (e.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>


<!-- Car commands list -->
<section>
    <h2>List of Car Commands</h2>
    <table>
        <thead>
            <tr>
                <th>Command ID</th>
                <th>Car ID</th>
                <th>User ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price Paid</th>
                <th>Confirmation</th>
                <th></th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td class="car-info" data-id="{{ command.carId.id }}">{{ command.carId.id }}</td>
                    <td class="user-info" data-id="{{ command.userId.id }}">{{ command.userId.id }}</td>
                    <td>{{ command.startDate ? command.startDate|date('Y-m-d') : '' }}</td>
                    <td>{{ command.endDate ? command.endDate|date('Y-m-d') : '' }}</td>
                    <td></td>
                    <td>
                        {% if command.confirmed is null %}
                            Unreviewed
                        {% elseif command.confirmed %}
                            Accepted
                        {% else %}
                            Refused
                        {% endif %}
                    </td>
                    {% if command.confirmed is null %}
                        <td>
                            <form action="{{ path('accept_command') }}" method="POST">
                                <input type="hidden" name="command_id" value="{{ command.id }}">
                                <button type="submit" class="accept-command">Accept</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ path('refuse_command') }}" method="POST">
                                <input type="hidden" name="command_id" value="{{ command.id }}">
                                <button type="submit" class="refuse-command">Refuse</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ path('cancel_command') }}" method="POST">
                                <input type="hidden" name="command_id" value="{{ command.id }}">
                                <button type="submit" class="cancel-command">Cancel</button>
                            </form>
                        </td>
                    {% else %}
                        <td></td>
                        <td>
                            <form action="{{ path('cancel_command') }}" method="POST">
                                <input type="hidden" name="command_id" value="{{ command.id }}">
                                <button type="submit" class="cancel-command">Cancel</button>
                            </form>
                        </td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>



{% endblock %}
